<ion-view>
    <ion-content>
        <div class="list">
            <!-- item-avatar-->
            <a class="item item-avatar" href="#">
                <!--<div class="row">
                    <div class="col-20">
                        <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg">
                    </div>
                    <div class="col-80">
                        <h2>Lair Ipê da Silva Júnior</h2>
                        <p>Tempo: 11:57</p>
                        <p>Velocidade Máxima: 34.34 km/h</p>
                    </div>
                </div>-->
                <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg">
                <h2># 1 | Lair Ipê da Silva Júnior</h2>
                <p>Tempo: 11:57</p>
                <p>Velocidade Máxima: 34.34 km/h</p>
            </a>
        </div>
    </ion-content>
</ion-view>