<ion-header-bar class="bar-stable">
    <h1 class="title">Game</h1>
</ion-header-bar>
<ion-content>
    <div class="row row-center">
        <div class="col text-center">
            <i class="icon ion-android-expand" style="font-size:60px"></i>
            <h2>COS</h2>
        </div>
        <div class="col text-center">
            <h2>72</h2>
        </div>
        <div class="col text-center">vs</div>
        <div class="col text-center">
            <h2>72</h2>
        </div>
        <div class="col text-center">
            <i class="icon ion-android-expand" style="font-size:60px"></i>
            <h2>SLS</h2>
        </div>
    </div>
    <p>Local: Corinthians</p>
</ion-content>
<ion-footer-bar class="bar">
    <div class="tabs tabs-icon-only">
        <a class="tab-item">
            <i class="icon ion-home"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-clipboard"></i>
        </a>
    </div>
</ion-footer-bar>