<ion-header-bar class="bar-stable">
    <h1 class="title">Schedule of the Tournament {{ tournamentId }}</h1>
    <button class="button icon ion-ios-gear"></button>
</ion-header-bar>
<ion-content>
    <div class="row">
        <div class="col-20">
            <button class="button button-dark icon ion-arrow-left-b"></button>
        </div>
        <div class="col text-center">
            <h4 class="title">27/12/2016</h4>
        </div>
        <div class="col-20 text-right">
            <button class="button button-dark icon ion-arrow-right-b"></button>
        </div>
    </div>
    <div class="list card">
        <a href="#/game/123" class="item">
            <div class="row row-center">
                <div class="col text-center">
                    <i class="icon ion-android-expand" style="font-size:60px"></i>
                    <h2>COS</h2>
                </div>
                <div class="col text-center">
                    <h2>72</h2>
                </div>
                <div class="col text-center">vs</div>
                <div class="col text-center">
                    <h2>72</h2>
                </div>
                <div class="col text-center">
                    <i class="icon ion-android-expand" style="font-size:60px"></i>
                    <h2>SLS</h2>
                </div>
            </div>
            <p>Local: Corinthians</p>
        </a>
    </div>
</ion-content>