<div ng-init="init()"></div>
<ion-header-bar class="bar-stable">
    <h1 class="title">{{ tournament.Title }}</h1>
</ion-header-bar>
<ion-content>
    <div class="list card">
        <a href="#/schedule/{{ tournament.Id }}" class="item item-icon-left" ng-if="tournament.OptionsAvailable.indexOf(TOURNAMENT_OPTIONS.schedule) >= 0">
            <i class="icon ion-calendar"></i> Schedule
        </a>
        <a href="#" class="item item-icon-left" ng-if="tournament.OptionsAvailable.indexOf(TOURNAMENT_OPTIONS.standings) >= 0">
            <i class="icon ion-arrow-graph-up-right"></i> Standings
        </a>
        <a href="#" class="item item-icon-left" ng-if="tournament.OptionsAvailable.indexOf(TOURNAMENT_OPTIONS.stats) >= 0">
            <i class="icon ion-clipboard"></i> Stats
        </a>
    </div>
</ion-content>