<div ng-init="init()"></div>
<ion-header-bar class="bar-stable">
    <h1 class="title">My Tournaments</h1>
    <button class="button icon ion-plus-circled"></button>
</ion-header-bar>
<ion-content>
    <div class="list" ng-repeat="tournament in tournamentList">
        <a class="item item-thumbnail-left" href="#/tournament/{{ tournament.Id }}">
            <img src="cover.jpg">
            <h2>{{ tournament.Title }}</h2>
            <p>{{ tournament.Type }}</p>
        </a>
    </div>
</ion-content>